.container {
    background-color: #48a9f8;
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.inner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
    overflow: hidden;
}

#page-container{
  position:absolute;
  left:0px;
  top:0px;
  right:0px;
  bottom:0px;

}

.page_content{
  background-image: url("/assets/images/finish.png");
  width:1920px;
  height:1080px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center center;


}

#fader{
  position: absolute;
  background-color: #48a9f8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: white;
  overflow: hidden;
  z-index: 2000;
}

.spinner {
  float:left;

  width: 320px;

  margin-top: 269px;
  margin-left: 175px;
}


.score {
  position: absolute;
  top: 330px;
  left: 240px;
  display: block;
  font-size: 160px;

}
